<%-include('partials/header')%>
<h1>Compose</h1>
<form class="form" action="/compose" method="post">
  <label for="">Title</label>
    <br>
    <textarea rows = "1" cols = "60" name = "title">
    </textarea>
  <br>
<label for="">Post</label>
  <br>
  <textarea rows = "5" cols = "60" name = "content">
     Enter details here...
  </textarea><br>
    <br>
  <button type="submit" name="button">Publish</button>
  <br>
</form>

<!-- <%-include('partials/footer')%> -->
